footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #d3c4b0;
    width: auto;
}

/* THIS IS LOGO DICTH THIS WHEN YOU STYLE LOGO */
footer h1 a{
    color: #3d3020;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

footer h3{
    color: #000000;
    font-size: 1.3rem;
    font-family: "Fraunces", serif;
    font-weight: 900;

}

/* CHANGE COLOR BASED ON PALLETE */
footer a{
    color: beige;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
    font-family: "Fraunces", serif;
    font-weight: 900;


}

footer a:hover{
    color: grey;
}

@media(max-width: 768px){

    footer{
        display: flex;
        width: auto;
        justify-content: space-between;
    }

    footer h1 a{
        font-size: 1.5rem;

    }

    .rightFoot{
        display: flex;
        align-items: center;
    }

    .rightFoot h3{
        font-size: 1.2rem;
    }

    .rightFoot h3 a{
        font-size: 1.2rem;
    }

}