:root{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #d3c4b09d;
}

*{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: black;
}

